{% extends "base.html" %}

{% block head %}
  {{ super() }}
  {% if article.author %}
    <meta name="author" content="{{ article.author }}">
  {% endif %}
  {% if article.summary %}
    <meta name="description" content="{{ article.summary|striptags }}">
  {% endif %}
  <meta name="tags" contents="{% for tag in article.tags %}{{ tag }}, {% endfor %}">
{% endblock %}

{% block title %}
  {{ SITENAME }} &mdash; {{ article.title|striptags }}
{% endblock %}

{% block content %}
  <div class="post full-post">
    <h1 class="post-title">
      <a href="/{{ article.url }}" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
    </h1>
    <ul class="list-inline">
      <li class="post-date">
        <a class="text-muted" href="/{{ article.url }}" title="{{ article.date.isoformat() }}">{{ article.locale_date }}</a>
      </li>
      <li class="muted">&middot;</li>
      <li class="post-category">
        <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
      </li>
      {% if article.tags %}
        <li class="muted">&middot;</li>
        <li>
          {% for tag in article.tags %}
            <a href="{{ SITEUrL }}/tag/{{ tag }}.html">{{ tag }}</a>{% if not loop.last %}, {% endif %}
          {% endfor %}
        </li>
      {% endif %}
      {% if article.author and SHOW_ARTICLE_AUTHOR %}
        <li class="muted">&middot;</li>
        <li>
          <address class="post-author">
            By <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
          </address>
        </li>
      {% endif %}
    </ul>



    <div class="post-content">
      {{ article.content }}
    </div>


    <hr class="separator">
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>

    Cite/attribute as:
    "{{ article.author }}. {{ article.title | striptags }}. <i>{{ article.collection }}</i>, {{ article.date.strftime("%B %d, %Y") }}."

<script type="text/javascript">
<!--
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
//-->
</script>
<button onclick="toggle_visibility('bibtex');" style="font-size: 80%">bibtex</button>
<div id="bibtex" style="display: none">
<textarea rows="8" cols="70">
{% set lastname = (article.author|string).split(' ')[-1] %}
@article{{"{"}}{{ [(lastname|lower),article.date.strftime("%Y")]|join("") }},
    author = {{"{"}}{{ article.author }}{{"}"}},
    title = {{"{"}}{{ article.title }}{{"}"}},
    journal = {{"{"}}{{ article.collection }}{{"}"}},
    type = {{"{"}}{{ article.type }}{{"}"}},
    volume = {{"{"}}{{ article.date.strftime("%B %d") }}{{"}"}},
    year = {{"{"}}{{ article.date.strftime("%Y") }}{{"}"}}
}
</textarea>
</div>



  </div>
  <hr class="separator">
  <div class="col-md-8 col-md-offset-2">
    {% include 'include/disqus_comments.html' %}
  </div>



{% endblock %}
